{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/media-scroller/style.css' %}?ver=1" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}?ver=1" />
  <style>
    #threejs-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
    
    #product-content {
      /*margin-top: 100vh; */
    }
  </style>
  {% comment %}three.js import{% endcomment %}
  <script type="importmap">
    {
    "imports": {
        "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.158.0/examples/jsm/",
        "roving-ux": "https://cdn.skypack.dev/roving-ux"
    }
    }
</script>

  <script type="module" src="{% static 'js/three-js/fog.js' %}?ver=2" defer></script>
  <script type="module" src="{% static 'js/media-scroller/index.js' %}"></script>

  {% comment %}three.js{% endcomment %}
  {% comment %} <div id="threejs-container"></div> {% endcomment %}

  {% comment %}배경 어둡게{% endcomment %}
  <section class="hero product-1 mb-3">
    <div class="container">
      <div class="title title-top">
        <div class="title-heading">제목</div>
        <div class="title-sub-heading">부제목</div>
        <p class="title-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ad cupiditate dolores maiores accusamus debitis expedita. Voluptatibus iste consequatur dolores nulla vitae doloribus itaque, sed autem expedita, pariatur illum numquam.</p>
      </div>
      <div class="cta">
        <a href="#" class="cta-link cta-link-darker btn btn-info btn-sm rounded-pill">바로가기</a>
      </div>
    </div>
  </section>

  <section id="product-content" class="my-3">
    <ul class="horizontal-media-scroller">
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?14" />
            </picture>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?15" />
            </picture>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?16" />
            </picture>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?17" />
            </picture>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?18" />
            </picture>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?19" />
            </picture>
          </figure>
        </a>
      </li>
    </ul>
  </section>

  {% comment %}배경 white{% endcomment %}
  <section class="product-2">
    <div class="row gap-0">
      <div class="container col-lg-6 col-md-6 col-sm-12 mb-5">
        <div class="title title-dark">
          <div class="title-heading">제목</div>
          <div class="title-sub-heading">부제목</div>
          <p class="title-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate nostrum quam, rem voluptates mollitia expedita sequi at optio dolore facilis rerum alias modi quasi recusandae reiciendis asperiores eaque ea id.</p>
        </div>
        <div class="cta">
          <a href="#" class="cta-link cta-link-darker btn btn-info btn-sm rounded-pill">바로가기</a>
        </div>
      </div>
      <div class="img-src col-lg-6 col-md-6 col-sm-12">
        <img src="{% static 'img/fog.jpg' %}" class="img-fluid" />
      </div>
    </div>
    <div class="row">
      <div class="container">
        <div class="title title-dark">
          <div class="title-sub-heading">좀 더 세부적인 소개글 시작</div>
          <p class="title-content">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae, doloribus. Quam beatae aspernatur eum laudantium repellat quia nisi qui reprehenderit illum perspiciatis debitis quisquam odit provident, voluptas ut expedita ex.</p>
          <div class="product-introduce-first mx-5 px-5 mt-5 d-flex">
            <img src="{% static 'img/fog.jpg' %}" style="width: 60%;" />
            <div class="introduct-content align-self-center ml-4">
              <h4 class="my-4">소개글1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero, tempora magnam rem corrupti velit aspernatur rerum cupiditate quisquam culpa delectus fugit et perspiciatis assumenda. Eligendi, maxime deserunt. Odit, totam.</p>
              <h4 class="my-4">소개글2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt vero, tempora magnam rem corrupti velit aspernatur rerum cupiditate quisquam culpa delectus fugit et perspiciatis assumenda. Eligendi, maxime deserunt. Odit, totam.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
