{% extends 'base.html' %}
{% load static %}
{% block content %}
  <link rel="stylesheet" href="{% static 'css/media-scroller/style.css' %}" />
  <link rel="stylesheet" href="{% static 'css/home.css' %}?ver=2" />
  <style>
    #threejs-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      z-index: -1;
    }
    
    #product-content {
      /*margin-top: 100vh; */
    }
  </style>
  {% comment %}three.js import{% endcomment %}
  <script type="importmap">
    {
    "imports": {
        "three": "https://unpkg.com/three@0.158.0/build/three.module.js",
        "three/addons/": "https://unpkg.com/three@0.158.0/examples/jsm/",
        "roving-ux": "https://cdn.skypack.dev/roving-ux"
    }
    }
</script>

  <script type="module" src="{% static 'js/three-js/fog.js' %}?ver=2" defer></script>
  <script type="module" src="{% static 'js/media-scroller/index.js' %}"></script>

  {% comment %}three.js{% endcomment %}
  {% comment %} <div id="threejs-container"></div> {% endcomment %}

  {% comment %}배경 어둡게{% endcomment %}
  <section class="hero product-1">
    <div class="container">
      <div class="title title-top">
        <div class="title-heading">제목</div>
        <div class="title-sub-heading">부제목</div>
        <p class="title-interesting">간단한 내용</p>
      </div>
      <div class="cta">
        <a href="#" class="cta-link cta-link-darker">link1</a>
        <a href="#" class="cta-link cta-link-darker">link2</a>
      </div>
    </div>
  </section>

  {% comment %}배경 white{% endcomment %}
  <section class="hero product-2">
    <div class="row gap-0">
      <div class="img-src col-6">
        <img src="{% static 'img/fog.jpg' %}" class="img-fluid" />
      </div>
      <div class="container col-6">
        <div class="title title-dark">
          <div class="title-heading">제목</div>
          <div class="title-sub-heading">부제목</div>
          <p class="title-interesting">간단한 내용</p>
        </div>
        <div class="cta">
          <a href="#" class="cta-link cta-link-darker">link1</a>
          <a href="#" class="cta-link cta-link-darker">link2</a>
        </div>
      </div>
    </div>
    <div class="row gap-0">
      <div class="container col-6">
        <div class="title title-dark">
          <div class="title-heading">제목2</div>
          <div class="title-sub-heading">부제목2</div>
          <p class="title-interesting">간단한 내용2</p>
        </div>
        <div class="cta">
          <a href="#" class="cta-link cta-link-darker">link1</a>
          <a href="#" class="cta-link cta-link-darker">link2</a>
        </div>
      </div>
      <div class="img-src col-6">
        <img src="{% static 'img/fog.jpg' %}" class="img-fluid" />
      </div>
    </div>
  </section>

  <section id="product-content" class="mt-4">
    <header>
      <h2>Suspense</h2>
    </header>

    <ul class="horizontal-media-scroller">
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?14" />
            </picture>
            <figcaption>The Strain (limited)</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?15" />
            </picture>
            <figcaption>The Following</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?16" />
            </picture>
            <figcaption>BERLIN STATION</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?17" />
            </picture>
            <figcaption>Penny Dreadful</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?18" />
            </picture>
            <figcaption>Castle Rock</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?19" />
            </picture>
            <figcaption>The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?11" />
            </picture>
            <figcaption>Legends</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?12" />
            </picture>
            <figcaption>The Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?13" />
            </picture>
            <figcaption>Almost Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?110" />
            </picture>
            <figcaption>Fear The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?121" />
            </picture>
            <figcaption>Legends</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?132" />
            </picture>
            <figcaption>The Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?123" />
            </picture>
            <figcaption>Almost Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?144" />
            </picture>
            <figcaption>The Strain</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?125" />
            </picture>
            <figcaption>The Following</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?126" />
            </picture>
            <figcaption>BERLIN STATION</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?137" />
            </picture>
            <figcaption>Penny Dreadful</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?118" />
            </picture>
            <figcaption>Castle Rock</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?419" />
            </picture>
            <figcaption>The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?110" />
            </picture>
            <figcaption>Fear The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?112" />
            </picture>
            <figcaption>Legends</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?122" />
            </picture>
            <figcaption>The Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?313" />
            </picture>
            <figcaption>Almost Family</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?194" />
            </picture>
            <figcaption>The Strain</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?915" />
            </picture>
            <figcaption>The Following</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?176" />
            </picture>
            <figcaption>BERLIN STATION</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?187" />
            </picture>
            <figcaption>Penny Dreadful</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?178" />
            </picture>
            <figcaption>Castle Rock</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?189" />
            </picture>
            <figcaption>The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
      <li>
        <a href="#">
          <figure>
            <picture>
              <img alt="A placeholder image" loading="lazy" src="https://picsum.photos/500/500?117" />
            </picture>
            <figcaption>Fear The Walking Dead</figcaption>
          </figure>
        </a>
      </li>
    </ul>
  </section>
{% endblock %}
