a{
    display: block;
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

.container{
    max-width: 98rem;
    margin: 0 auto;
    padding: 0 2.2rem;
}


/* Product-1 */
.product-1{
    background:url('../img/fog.jpg');
    background-color: #212529;
}

.title{
    text-align: center;
    padding-top: 5.5rem;
}

.title-heading{
    font-size: 4rem;
    line-height: 1.07143;
    letter-spacing: -.005rem;;
}

.title-sub-heading{
    font-size: 1.8rem;
    margin-top: .6rem;
    letter-spacing: .008rem;
    font-weight: 400;
}

.title-content{
    font-size: 1rem;
    margin: 0 1.5rem;
    padding: 1rem;
}

.cta{
    text-align: center;
    margin-top: 1.8rem;
}

.cta-link{
    color: #000;
    font-size: 1rem;
    display: inline-block;
    padding: 11px 12px;
}

.cta-link:nth-child(2){
    margin-left: 2.6rem;
}

/* Product-2 */
.product-2{
    height: auto;
}

.title-dark{
    color: var(--color-fg);
}

.cta-link-darker{
    color: #000;
}

.hero{
    height: 50rem;
    background-size: auto 73.6rem;
    background-position: center;
    background-repeat: no-repeat;
}

.title-top{
    color:#000;
}

.page-support-part{
    padding: 5rem;
    background-color: ghostwhite;
    margin-bottom: 0px;
}